<div class="container w-50 text-center">
  <div class="row justify-content-center">
    <p class="mb-0">
      <strong>
        Desenvolvido por <%= link_to 'Cláudio Duarte', 'https://claudioduarte.pt/', target: :blank %>
      </strong>
    </p>
  </div>
</div>