<div class="card text-white bg-success mt-3 text-center">
  <div class="card-header">
    <strong>Pokémons apanhados</strong>
  </div>
  <div class="card-body">
    <h1 class="card-title"><strong><%= @pokemon_caught %></strong></h1>
  </div>
</div>