<div class="card text-light bg-primary mt-3 text-center flex-grow-1">
  <div class="card-header">
    <strong>Sequência Digitada</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong><%= @sequence %></strong></h5>
  </div>
</div>